* {
    margin: 0;
    padding: 0;
}
/* index.html styles */

table, tr, th, td {
    border: 1px solid black;
}

tr, th, td {
    padding: 5px 10px;
}

.containerIndex {
    min-width: 1000px;
    max-width: 75%;
    margin: 0 auto;
}

.contentIndex {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* profile.html styles */
.containerProfile {
    width: 750px;
    margin: 0 auto;
}

.contentProfile {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 3px solid black;
    padding: 25px;
}

.headerProfile {
    display: flex;
    justify-content: space-between;
}

/* edit.html styles */
.containerEdit {
    width: 500px;
    margin: 0 auto;
}

.contentEdit {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 3px solid black;
    padding: 25px;
}

.contentEdit form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.contentEdit button {
    width: 125px;
    align-self: center;
}

/* delete.html styles */

.containerDelete {
    width: 750px;
    margin: 0 auto;
}

.contentDelete {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 3px solid black;
    padding: 25px;
}

.warning {
    align-self: center;
}

.contentDelete form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.radioDelete {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.contentDelete button {
    width: 100px;
}