<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename="../static/css/style.css") }}">
    <title>Home</title>
</head>
<body>
    <div class="containerIndex">
        <div class="contentIndex">
            <h1>All Users</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name + " " + user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at.strftime("%B %d, %Y") }}</td>
                    <td><a href="/users/{{ user.id }}">Show</a> | <a href="/users/{{ user.id }}/edit">Edit</a> | <a href="/users/{{ user.id }}/delete">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <a href="/users/new">Add User</a>
        </div>
    </div>
</body>
</html>